body {
  background-color: rgb(45, 45, 45);
  font-size: 18px;
  color: silver;
}

.title1 {
  color: silver;
  font-variant: small-caps;
  font-size: 40pt;
  font-weight: 100;
  height: 33px;
  text-align: center;
}

.title2 {
  color: silver;
  font-variant: small-caps;
  font-size: 25pt;
  font-weight: 100;
  height: 10px;
  text-align: center;
}

.button {
  padding: 8px 20px;
  font-variant: small-caps;
  background-color: silver;
  color: black;
  text-decoration: none;
}

.line-jump {
  display: block;
  margin-bottom: 300px;
}

.line-jump2 {
  display: block;
  margin-bottom: 260px;
}

.line-jump3 {
  display: block;
  margin-bottom: 375px;
}

.arrow {
  align-items: center;
}

.title3 {
  color: silver;
  font-variant: small-caps;
  font-size: 25pt;
  height: 40px;
  text-align: center;
}

.title4 {
  color: silver;
  font-variant: small-caps;
  font-size: 25pt;
  height: 10px;
  text-align: center;
}

.description {
  font-size: 18px;
  text-align: center;
}

.title5 {
  color: silver;
  font-variant: small-caps;
  font-size: 20pt;
  height: 8px;
  text-align: center;
}



#lista {
  align-items: center;
}
