<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    border: 0;
  }

  body {
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    font: 12px;
    color: darkgrey;
  }

  header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
    text-align: center;
  }

  .button {
    background-color: darkgray;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .button:hover {
    background-color: rgb(112, 112, 112);
  }

  .title {
    background-color: rgba(51, 51, 51, 0.87);
    font: 36px 'Orbitron';
    padding-top: 20rem;
    padding-bottom: 20rem;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    color: darkgray;
    text-align: center;
    width: 90%;
    border: 1px solid silver;
    border-radius: 15px;
    
  }

  .align {
    display: inline-block;
    vertical-align: top;
  }

  section {
    background-color: rgba(51, 51, 51, 0.87);
    border-radius: 15px;
    text-align: center;
    width: 90%;
    border: 1px solid silver;
    margin-top: 35px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
  }
  section h1 {
    border-radius: 5px;
    font-size: 36px;
  }
  
  .myphoto {
    border: 5px solid white;
    border-radius: 50%;
    margin-left: 25%;
    width: 350px;
    margin-bottom: 10px;
  }

  .description {
    background-color: rgb(134, 134, 134);
    color: black;
    border: 1px solid darkgrey;
    border-radius: 15px;
    width: 45%;
    margin-top: 70px;
    margin-bottom: 25px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 125px;
    padding-right: 125px;
  }

  .align2 {
    display: inline-block;
    vertical-align: top;
  }

  .section2 {
    background-color: rgba(51, 51, 51, 0.87);
    border-radius: 15px;
    text-align: center;
    width: 90%;
    border: 1px solid silver;
    margin-top: 35px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
  }
  .section2 h2 {
    border-radius: 5px;
    font-size: 24px;
  }
  
  .iconequali {
    border: 5px solid white;
    border-radius: 50%;
    margin-left: -250px;
    margin-top: 55px;
    width: 370px;
    margin-bottom: 10px;
  }

  .qualidades {
    background-color: rgb(134, 134, 134);
    color: black;
    border: 1px solid darkgrey;
    border-radius: 15px;
    width: 70%;
    margin-top: 105px;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 125px;
    padding-right: 125px;
  }

  .align3 {
    display: inline-block;
    vertical-align: top;
  }

  .section3 {
    background-color: rgba(51, 51, 51, 0.87);
    border-radius: 15px;
    text-align: center;
    width: 90%;
    border: 1px solid silver;
    margin-top: 35px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
  }
  .section3 h2 {
    border-radius: 5px;
    font-size: 24px;
  }
  
  .logotrybe {
    border: 5px solid white;
    border-radius: 50%;
    margin-left: -200px;
    margin-top: 55px;
    width: 370px;
    margin-bottom: 10px;
  }

  .habilidades {
    background-color: rgb(134, 134, 134);
    color: black;
    border: 1px solid darkgrey;
    border-radius: 15px;
    width: 64%;
    margin-top: 105px;
    margin-bottom: 25px;
    margin-left: 13%;
    margin-right: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 125px;
    padding-right: 125px;
  }

  .section4 h1 {
    border-radius: 5px;
    font-size: 24px;
    margin-top: 15px;
  }

  .align4 {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .sectionblogs {
    background-color: rgb(134, 134, 134);
    color: black;
    text-decoration: none;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    padding: auto;
  }

  .links {
    color: black;
    text-decoration: none;
  }

  .logos {
    border-radius: 50%;
    border:4px solid silver;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer {
    padding-top: 10px;
    border-top: 1px solid silver;
    font-size: 12px;
    text-align: right;
  }

  .meencontre {
    background-color: rgb(134, 134, 134);
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    width: 70%;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    padding: auto;
  }

  #finallogo {
      border-radius: 50%;
  }
  footer a {
    color: #2fc18c;
  }
=======
body {
  background-color: rgb(45, 45, 45);
  font-size: 18px;
  color: silver;
}

.title1 {
  color: silver;
  font-variant: small-caps;
  font-size: 40pt;
  font-weight: 100;
  height: 33px;
  text-align: center;
}

.title2 {
  color: silver;
  font-variant: small-caps;
  font-size: 25pt;
  font-weight: 100;
  height: 10px;
  text-align: center;
}

.button {
  padding: 8px 20px;
  font-variant: small-caps;
  background-color: silver;
  color: black;
  text-decoration: none;
}

.line-jump {
  display: block;
  margin-bottom: 300px;
}

.line-jump2 {
  display: block;
  margin-bottom: 260px;
}

.line-jump3 {
  display: block;
  margin-bottom: 375px;
}

.arrow {
  align-items: center;
}

.title3 {
  color: silver;
  font-variant: small-caps;
  font-size: 25pt;
  height: 40px;
  text-align: center;
}

.title4 {
  color: silver;
  font-variant: small-caps;
  font-size: 25pt;
  height: 10px;
  text-align: center;
}

.description {
  font-size: 18px;
  text-align: center;
}

.title5 {
  color: silver;
  font-variant: small-caps;
  font-size: 20pt;
  height: 8px;
  text-align: center;
}



#lista {
  align-items: center;
}
>>>>>>> 844f620bd59a74fb528d0773eed15bdb7db3e64a
